pos/common/lib/ext/OracleRetailStore/Client/pos/receipts/printing/templates/xml/ipp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by Owen Horne (360Commerce, Inc) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="receipt" minOccurs="0">
          <xs:complexType>         
            <xs:choice>
              <xs:element name="store" type="xs:string" minOccurs="0"/>
              <xs:element name="reg" type="xs:string" minOccurs="0"/>
              <xs:element name="till" type="xs:string" minOccurs="0"/>
              <xs:element name="cashier" type="xs:string" minOccurs="0"/>
              <xs:element name="transaction" type="xs:string" minOccurs="0"/>
              <xs:element name="timestamp" type="xs:date" minOccurs="0"/>
              <xs:element name="header" type="headerFooterType" maxOccurs="1"/>
              <xs:element name="footer" type="headerFooterType" maxOccurs="1"/>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="group" type="groupType"/>
              </xs:choice>              
            </xs:choice>
            <xs:attribute name="fixed_length" type="xs:string" use="required" /> 
          </xs:complexType>          
        </xs:element>
      </xs:sequence>
    </xs:complexType>    
  </xs:element>
  <xs:complexType name="receiptType"/>
  <xs:complexType name="headerFooterType">
    <xs:sequence>
      <xs:element name="line" type="lineType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="repeat" type="xs:string" use="required" />  
  </xs:complexType>
    <xs:complexType name="groupType">
    <xs:sequence>
      <xs:element name="line" type="lineType" maxOccurs="unbounded"/>
    </xs:sequence>    
  </xs:complexType>
  <xs:complexType name="lineType">
    <xs:choice>
      <xs:element ref="text"/>
      <xs:element name="barcode" type="barcodeType"/>
      <xs:element name="image" type="imageType"/>
    </xs:choice>   
  </xs:complexType>
  <xs:element name="text" type="xs:string"/>
  <xs:complexType name="imageType">
    <xs:attribute name="url" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="barcodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="code128"/>
              <xs:enumeration value="code128_Parsed"/>
              <xs:enumeration value="code39"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
